h1 {
    text-align: center;
    font-size: 1.2em;
}

h2 {
    text-align: center;
    font-size: 1em;
}

em {
    letter-spacing: 0.2em;
    font-style: normal;
}

p {
    padding: 0;
    margin: 0 0 0 1.25em;
}

big {
    font-size: 2.5em;
}

.one {
    margin: 0em;
    padding: 0 0 0 4em;
    text-indent: -2.5em;
}

.follow {
    margin: 0 0 0 4em;
    text-indent: -3.5em;
}
