  h1 {
    text-align: center;
    font-size: 1.2em;
  }

  h2 {
    text-align: center;
    font-size: 1em;
  }

  em {
    letter-spacing: 0.2em;
    font-style: normal;
  }

  p {
    margin: 0;
  }

  big {
      font-size: 2.5em;
  }



  div {
    margin-left: 4em;
    text-indent: -4em;
    padding: 0;
  }

  div:first-child {
    text-indent: -3em;
    margin-left: 4em;
    padding: 0;
  }


